{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1>Project Detail: {{ project.name }}</h1>

    <div class="project-info">
      <p><strong>Description:</strong> {{ project.description }}</p>
      <p><strong>Created on:</strong> {{ project.created_at }}</p>
      <p><strong>Status:</strong> {{ project.get_status_display }}</p>
    </div>

    <h2>Associated Tasks</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Task Name</th>          
          <th>Priority</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Assign To:</th>
          <th>Project Name</th>
          <th>Created by</th>
          
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.get_priority_display }}</td>  <!-- Ensure this method is available for priority -->
            <td>{{ task.get_status_display }}</td>  <!-- Ensure this method is available for status -->
            <td>{{ task.due_date }}</td>
            <td>{{ task.employee}}</td>
            <td>{{ task.project}}</td>
            <td>{{ task.created_by}}</td>
            
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No tasks assigned yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
